* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    background-color: teal;
    background-size: cover;
}

.contact-container {
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: teal;
    z-index: 1;
}

.logo {
    display: flex;
    box-sizing: border-box;
    padding: 10px 30px;
    padding: 10px 30px;
}

.logo #wil {
    font-family: 'Permanent Marker', cursive;
    color: black;
    font-weight: 700;
    font-size: 35px;
    line-height: 80px;
    padding: 0 6px;
    border-bottom: 4px solid black;
}

.logo #powell {
    font-family: 'Permanent Marker', cursive;
    color: rgb(172, 42, 19);
    font-weight: 400;
    font-size: 35px;
    line-height: 80px;
    padding: 0 6px;
    background-color: black;
    border-bottom: 3px solid rgb(172, 42, 19);
    border-right: 3px solid rgb(172, 42, 19);
    border-radius: 50px;
}

.nav-list {
    box-sizing: border-box;
    padding: 10px 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    font-family: 'Lato', sans-serif;
    display: inline-flex;
    align-items: flex-end;
    padding: 0 12px;
    background-color: rgb(172, 42, 19);
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    border-radius: 50px;
    margin: 10px;
}

nav li:hover {
    background-color: black;
    border-bottom: 3px solid rgb(172, 42, 19);
    border-right: 3px solid rgb(172, 42, 19);
}

nav li a {
    color: black;
    font-weight: 700;
    font-size: 18px;
    padding: 14px;
}

nav li a:hover {
    color: rgb(172, 42, 19);
    transition: all .10s;
}

nav li a:active {
    color: rgb(172, 42, 19);
}

.contact-container p {
    text-align: center;
    font-family: "Lato", sans-serif;
    font-weight: 800;
    font-size: x-large;
    padding-top: 10px;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid rgb(172, 42, 19);
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

input[type=email],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid rgb(172, 42, 19);
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

#submit,
#clear {
    width: 30%;
    background-color: rgb(172, 42, 19);
    color: white;
    padding: 12px 20px;
    border-radius: 10px;
    border: 2px solid teal;
    cursor: pointer;
    text-align: center;
}

#submit:hover,
#clear:hover {
    background-color: teal;
}

.buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.container {
    background: teal;
    padding-left: 16px;
    padding-right: 16px;
    text-align: left;
    margin: 0 auto;
    width: 450px;
    font-family: 'Candara', sans-serif;
    font-weight: 500;
    font-size: large;
    color: white;
    border: 10px solid rgb(172, 42, 19);
    border-radius: 20px;
}

ul {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container li {
    display: inline-flex;
    margin: 6px;
    list-style: none;
}

.container li a {
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
}

.container li a:hover {
    color: #b9b9b9c4;
}